*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
#menu-toggle {
    display: none;
}


body{
    background-image: url('./assets/background1.jpg');
    background-repeat: no-repeat;
    height: 1400px;
    padding-top: 1rem;
}
.logo{
    width: 161px;
    height: 32px;
    top: 27.76px;
    left: 200.61px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.navbar a {
    color: white;
    text-align: right;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    justify-content: flex-end;
}
ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 4rem;
    padding-top: 1rem;
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 15rem;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    justify-content: center;
    text-align: center;
}
button{
    box-shadow: 0px 2px 20px 0px #00000080;
    width: 162px;
    height: 44px;
    top: 100px;
    left: 237px;
    background: #FF6565;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    text-align: center;
}
.but{
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    display: flex;
    padding-bottom: 4rem;
}
.para1{
    width: 637px;
    height: 104px;
    top: 209px;
    text-align: center;
    color: white;
}
.first{
    display: flex;
    justify-content: center;
}

.pee {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 180px;
}

/* Center the inner content */
.man {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part1 {
    width: 637px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    padding-top: 200px;
    text-align: center;
}

.What {
    width: 190px;
    height: 40px;
    color: black;
    text-align: center;
    margin: 0;
}

.new {
    margin: 0;
    width: 637px;
    height: 104px;
    padding-top: 80px;
    color: black;
    text-align: center;
}

.main1 {
    /* display: flex;
    justify-content: space-around; */
    /* width: 1002px;
    height: 193px; */
    align-items: center;
    padding-top: 250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    /* width: 472px;
    height: 469px; */
}

.pb {
    width: 207px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gree {
    color: black;
    text-align: center;
    margin: 0;
}
.bg2{
    background: url('./assets/background2.jpg');
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    /* margin-bottom: 180px; */
}
.red{
    width: 448px;
    height: 40px;
    top: 141px;
    left: 477px;
    color: white;
    text-align: center;
    margin: 0;
}
.blue{
    margin: 0;
    width: 637px;
    height: 104px;
    top: 221px;
    left: 382px;
    padding-top: 80px;
    color: white;
    text-align: center;
}
.main2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    height: 193px;
    align-items: center;
    padding-top: 180px;
    padding-bottom: 10rem;
}
.part2 {
    width: 637px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    padding-top: px;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    padding-top: 4rem;
    padding-bottom: 5rem;
}

form {
    width: 335px;
    height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    justify-content: space-evenly;
}

form h2 {
    padding-top: 020px;
    width: 146px;
    height: 40px;
    text-align: center;
    margin: 0;
    opacity: 1;
    color: black;
}

form label {
    display: none; /* Hide the labels as they are not used */
}

form input {
    width: 330px;
    height: 35px;
    padding: 10px;
    border: none;
    
}


form button {
    width: 162px;
    height: 44px;
    top: 329px;
    left: 86px;
    color: white;
    cursor: pointer;
    background: #FF6565;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}
.yet{
    justify-content: center;
    align-items: center;
    display: flex;
}

form button:hover {
    color: #FF6565;
    opacity: 0.9
}

 .rec{
    background: #071629;
    padding: 0;
    width: 330px;
    justify-content: center;
    display: inline-flex;
    margin-top: 0;
 }

 @media (max-width: 480px) {
    body{
        max-width: 100vw;
        width: 480px;
        height: 800px;
        background-position: center;
        margin-top: 0;
    }
    .tip{
        padding-bottom: 9;
    }
    .bee{
        align-items: center;
        text-align: center;
        padding-bottom: 0rem;
    }
    .rep{
        width: 357px;
        height: 80px;
        padding-bottom: 2rem;
        text-align: center;
    }
    .map{
        width: 279px;
        height: 40px;
        align-items: center;
        padding-left: 2rem;
        top: 85px;
        left: 39px;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .first{
        width: 372px;
        height: 190px;
        top: 254px;
        left: 11px;
        padding-bottom: 10rem;
    }

    .dee{
        width: 372px;
        height: 436px;
        top: 327px;
        left: 9px;
        margin-bottom: 4rem;
    }
    .part1 {
        /* padding-top: 100px; */
        padding-bottom: 2rem;
        width: 425px;
        height: 288px;
        top: 979px;
        left: 25px;
        max-width: 100vw;
    }

    .main1 {
        max-width: 100vw;
        grid-template-columns: 1fr;
        padding-top: 150px;
        width: 207px;
        height: 1020px;
        top: 1377px;
        left: 84px;
        /* padding-bottom: 20rem; */
    }

    .pb {
        width: 207px;
        height: 193px;
        top: 1653px;
        left: 84px;
    }
    .man{
        max-width: 100vw;
        width: 480px;
        height: 869px;
    }

    .What, .new {
        padding-top: 40px;
        width: 325px;
    }
    .pee{
        max-width: 100vw;
        padding-bottom: 20rem;
        width: 480px;
        padding-top: 10rem;
    }

    .bg2{
        max-width: 100vw;
        width: 480px;
        height: auto;
        /* top: 2507px; */
        padding-top: 10rem;
        padding-bottom: 20rem;
        background-size: cover;
        background-position: center;
    }

    .red, .blue {
        text-align: center;
    }
    .red{
        width: 266px;
        height: 80px;
        top: 125px;
        left: 56px;
        padding-top: 0;
    }
    .blue {
        padding-top: 40px;
        width: 305px;
        height: 208px;
        top: 251px;
        left: 36px;
    }
    .pin{
        width: 190px;
        height: 190px;
        /* top: 536px;
        left: 93px; */
    }

    .main2 {
        grid-template-columns: 1fr; 
        gap: 1rem; 
        padding-top: 100px; 
        padding-bottom: 5rem;
    }

    .part2 {
        padding-bottom: 1rem;
        padding-top: 0px;
    }

    .form{
        width: 480px;
        height: 550px;
        top: 4108px;
        left: 20px;
        padding-bottom: 5rem;

    }
    .fee{
        width: 330px;
        height: 373px;
        top: 4108px;
        left: 20px;
    }
}